# macOS / Finder

# Common macOS files
.DS_Store
.localized/
Thumbs.db
desktop.ini

# Temporary Directories
*~
*.swp
*.swo
*.tmp

# IDE and Text Editor Backups
# Adjust these based on your specific IDE
*.idea/
*.sublime-project
*.sublime-workspace

# Build Folders
build/
dist/
output/

# Generic Exclusions
*.log
*.txt.bak
*.bak
*.psd

# Ignore .env files (environment variables)
.env

# Ignore virtual environment folders
.venv/
env/
venv/
pyenv/

# Ignore package manager files
node_modules/
package-lock.json/
npm-shrinkwrap.json/
yarn.lock/